/*
BRAKE POINTS
*/
/*
COLORS
*/
:root {
  --primary-bg-color: #131313;
  --color-dark: #222224;
  --color-white: white;
  --color-primary: #ff5a1d; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Muli", sans-serif;
  line-height: 1.6;
  min-height: 100vh;
  background-color: var(--primary-bg-color); }

.break-line {
  display: block;
  height: 3rem; }

/* the slides */
.slick-slide {
  margin-right: 1px; }

/* the parent */
.slick-list {
  margin-right: 1px; }

.overflow-fixer {
  width: 100%;
  overflow: hidden; }

.toggle-1 {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: white;
  width: 2rem;
  height: 2rem;
  border-radius: 5px; }
  @media only screen and (max-width: 64em) {
    .toggle-1 {
      width: 1.5rem;
      height: 1.5rem; } }
  @media only screen and (max-width: 90em) {
    .toggle-1 {
      width: 1.5rem;
      height: 1.5rem; } }

.toggle-2 {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: white;
  width: 2rem;
  height: 2rem;
  border-radius: 5px; }
  @media only screen and (max-width: 64em) {
    .toggle-2 {
      width: 1.5rem;
      height: 1.5rem; } }
  @media only screen and (max-width: 90em) {
    .toggle-2 {
      width: 1.5rem;
      height: 1.5rem; } }

.toggle-3 {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: white;
  width: 2rem;
  height: 2rem;
  border-radius: 5px; }
  @media only screen and (max-width: 64em) {
    .toggle-3 {
      width: 1.5rem;
      height: 1.5rem; } }
  @media only screen and (max-width: 90em) {
    .toggle-3 {
      width: 1.5rem;
      height: 1.5rem; } }

.toggle-4 {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: white;
  width: 2rem;
  height: 2rem;
  border-radius: 5px; }
  @media only screen and (max-width: 64em) {
    .toggle-4 {
      width: 1.5rem;
      height: 1.5rem; } }
  @media only screen and (max-width: 90em) {
    .toggle-4 {
      width: 1.5rem;
      height: 1.5rem; } }

.toggle-5 {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: white;
  width: 2rem;
  height: 2rem;
  border-radius: 5px; }
  @media only screen and (max-width: 64em) {
    .toggle-5 {
      width: 1.5rem;
      height: 1.5rem; } }
  @media only screen and (max-width: 90em) {
    .toggle-5 {
      width: 1.5rem;
      height: 1.5rem; } }

.toggle-6 {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: white;
  width: 2rem;
  height: 2rem;
  border-radius: 5px; }
  @media only screen and (max-width: 64em) {
    .toggle-6 {
      width: 1.5rem;
      height: 1.5rem; } }
  @media only screen and (max-width: 90em) {
    .toggle-6 {
      width: 1.5rem;
      height: 1.5rem; } }

.toggle-rotate {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: var(--color-primary);
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  transform: rotate(180deg); }
  @media only screen and (max-width: 64em) {
    .toggle-rotate {
      width: 1.5rem;
      height: 1.5rem; } }
  @media only screen and (max-width: 90em) {
    .toggle-rotate {
      width: 1.5rem;
      height: 1.5rem; } }

.hamburger {
  background: var(--color-white);
  position: absolute;
  border-radius: 4px;
  top: 15px;
  right: 15px;
  line-height: 25px;
  padding: 5px 15px 0px 15px;
  color: var(--primary-bg-color);
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000; }

.cross {
  background: var(--color-white);
  position: absolute;
  border-radius: 4px;
  top: 10px;
  right: 10px;
  padding: 7px 15px 0px 15px;
  color: var(--primary-bg-color);
  font-size: 3em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000; }

.toggle-menu {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: #f1f1f1;
  position: absolute;
  text-align: center;
  font-size: 12px; }

.toggle-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none; }

.toggle-menu li {
  display: block;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid; }

.toggle-menu li:hover {
  display: block;
  background: #ffffff;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid; }

.toggle-menu ul li a {
  text-decoration: none;
  margin: 0px;
  color: #666; }

.toggle-menu ul li a:hover {
  color: #666;
  text-decoration: none; }

.toggle-menu a {
  text-decoration: none;
  color: #666; }

.toggle-menu a:hover {
  text-decoration: none;
  color: #666; }

.container {
  max-width: 114rem;
  height: auto;
  margin: 0 auto;
  width: 100vw; }
  @media only screen and (max-width: 160em) {
    .container {
      margin: 0 auto; } }
  @media only screen and (max-width: 90em) {
    .container {
      max-width: 90rem;
      margin: 0 auto; } }
  @media only screen and (max-width: 48em) {
    .container {
      max-width: 70rem;
      margin: 0 auto; } }
  @media only screen and (max-width: 26.6em) {
    .container {
      max-width: 40rem;
      margin: 0 auto; } }

.header {
  width: 100%;
  height: auto;
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 15rem; }
  @media only screen and (max-width: 90em) {
    .header {
      margin-bottom: 10rem; } }
  .header__logo > img {
    width: 22.7rem;
    height: 2.46875rem; }
    @media only screen and (max-width: 160em) {
      .header__logo > img {
        width: 34rem;
        height: 3.75rem; } }
    @media only screen and (max-width: 90em) {
      .header__logo > img {
        width: 20.6em;
        height: 2.25rem; } }
  .header__navigation-items {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    line-height: 1.5;
    font-size: 1.8rem;
    color: var(--color-white); }
    @media only screen and (max-width: 160em) {
      .header__navigation-items {
        font-size: 2rem; } }
    @media only screen and (max-width: 90em) {
      .header__navigation-items {
        font-size: 1.3rem; } }
    @media only screen and (max-width: 64em) {
      .header__navigation-items {
        font-size: 1.1rem; } }
    .header__navigation-items > li {
      margin-left: 3rem;
      text-transform: uppercase; }
    .header__navigation-items > li a {
      text-decoration: none;
      color: inherit; }

.main-section {
  width: 100%;
  height: auto;
  font-family: "Muli Light";
  line-height: 1.261;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--color-white);
  margin-bottom: 15rem; }
  @media only screen and (max-width: 90em) {
    .main-section {
      margin-bottom: 10rem; } }
  @media only screen and (max-width: 48em) {
    .main-section {
      margin-bottom: 7rem; } }
  .main-section__paragraph {
    text-align: left;
    font-size: 2.5rem;
    width: 50%; }
    @media only screen and (max-width: 160em) {
      .main-section__paragraph {
        width: 55%;
        font-size: 2.5rem; } }
    @media only screen and (max-width: 90em) {
      .main-section__paragraph {
        font-size: 1.5rem;
        width: 40%; } }
    @media only screen and (max-width: 48em) {
      .main-section__paragraph {
        width: 60%; } }
    @media only screen and (max-width: 26.6em) {
      .main-section__paragraph {
        width: 70%; } }
  .main-section__language-items {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    @media only screen and (max-width: 160em) {
      .main-section__language-items {
        font-size: 2rem; } }
    @media only screen and (max-width: 90em) {
      .main-section__language-items {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 64em) {
      .main-section__language-items {
        font-size: 1.1rem; } }
    .main-section__language-items > li {
      margin-left: 1.5rem;
      text-transform: uppercase; }
    .main-section__language-items > li a {
      text-decoration: none;
      color: inherit; }

.references {
  width: 100%;
  height: auto;
  margin-bottom: 10rem; }
  @media only screen and (max-width: 90em) {
    .references {
      margin-bottom: 10rem; } }
  @media only screen and (max-width: 64em) {
    .references {
      height: 70rem;
      margin-bottom: 5rem; } }
  @media only screen and (max-width: 48em) {
    .references {
      height: auto; } }
  .references__heading-one {
    font-size: 3rem;
    position: relative;
    font-family: "Muli";
    font-weight: bold;
    line-height: 0.481;
    color: var(--color-primary);
    margin-left: 7rem;
    width: 100%;
    margin-bottom: 8rem;
    height: auto; }
    @media only screen and (max-width: 160em) {
      .references__heading-one {
        font-size: 3rem; } }
    @media only screen and (max-width: 90em) {
      .references__heading-one {
        font-size: 2rem; } }
    @media only screen and (max-width: 64em) {
      .references__heading-one {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 26.6em) {
      .references__heading-one {
        margin-bottom: 5rem; } }
    .references__heading-one::before {
      content: "";
      position: absolute;
      width: 5rem;
      height: 0.5rem;
      background: var(--color-primary);
      top: 50%;
      left: -6.5rem; }
      @media only screen and (max-width: 90em) {
        .references__heading-one::before {
          width: 3rem; } }
  .references__cards-container {
    margin-bottom: 8rem;
    display: grid;
    grid-gap: 6em 3em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "cards-item-1 cards-item-2 cards-item-3" "cards-item-4 cards-item-5 cards-item-6"; }
    @media only screen and (max-width: 160em) {
      .references__cards-container {
        grid-gap: 2em 2em; } }
    @media only screen and (max-width: 90em) {
      .references__cards-container {
        margin-bottom: 10rem; } }
    @media only screen and (max-width: 64em) {
      .references__cards-container {
        grid-gap: 1em 1em;
        margin-bottom: 5rem; } }
    @media only screen and (max-width: 48em) {
      .references__cards-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "cards-item-1 cards-item-2" "cards-item-3 cards-item-4" "cards-item-5 cards-item-6"; } }
    @media only screen and (max-width: 26.6em) {
      .references__cards-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "cards-item-1" "cards-item-2" "cards-item-3" "cards-item-4" "cards-item-5" "cards-item-6"; } }
    .references__cards-container-item-1 {
      grid-area: cards-item-1; }
      .references__cards-container-item-1-box {
        width: 100%;
        height: 100%; }
        .references__cards-container-item-1-box > img {
          height: auto;
          width: 100%; }
          @media only screen and (max-width: 160em) {
            .references__cards-container-item-1-box > img {
              height: 30rem; } }
          @media only screen and (max-width: 90em) {
            .references__cards-container-item-1-box > img {
              height: 20rem; } }
        .references__cards-container-item-1-box > p {
          padding-top: 1rem;
          font-size: 1.3rem;
          color: var(--color-white);
          text-align: left;
          line-height: 1.5; }
          @media only screen and (max-width: 160em) {
            .references__cards-container-item-1-box > p {
              font-size: 2rem; } }
          @media only screen and (max-width: 90em) {
            .references__cards-container-item-1-box > p {
              font-size: 1.5rem; } }
          @media only screen and (max-width: 64em) {
            .references__cards-container-item-1-box > p {
              font-size: 1.3rem; } }
    .references__cards-container-item-2 {
      grid-area: cards-item-2; }
      .references__cards-container-item-2-box {
        width: 100%;
        height: 100%; }
        .references__cards-container-item-2-box > img {
          height: auto;
          width: 100%; }
          @media only screen and (max-width: 160em) {
            .references__cards-container-item-2-box > img {
              height: 30rem; } }
          @media only screen and (max-width: 90em) {
            .references__cards-container-item-2-box > img {
              height: 20rem; } }
        .references__cards-container-item-2-box > p {
          padding-top: 1rem;
          font-size: 1.3rem;
          color: var(--color-white);
          text-align: left;
          line-height: 1.5; }
          @media only screen and (max-width: 160em) {
            .references__cards-container-item-2-box > p {
              font-size: 2rem; } }
          @media only screen and (max-width: 90em) {
            .references__cards-container-item-2-box > p {
              font-size: 1.5rem; } }
          @media only screen and (max-width: 64em) {
            .references__cards-container-item-2-box > p {
              font-size: 1.3rem; } }
    .references__cards-container-item-3 {
      grid-area: cards-item-3; }
      .references__cards-container-item-3-box {
        width: 100%;
        height: 100%; }
        .references__cards-container-item-3-box > img {
          height: auto;
          width: 100%; }
          @media only screen and (max-width: 160em) {
            .references__cards-container-item-3-box > img {
              height: 30rem; } }
          @media only screen and (max-width: 90em) {
            .references__cards-container-item-3-box > img {
              height: 20rem; } }
        .references__cards-container-item-3-box > p {
          padding-top: 1rem;
          font-size: 1.3rem;
          color: var(--color-white);
          text-align: left;
          line-height: 1.5; }
          @media only screen and (max-width: 160em) {
            .references__cards-container-item-3-box > p {
              font-size: 2rem; } }
          @media only screen and (max-width: 90em) {
            .references__cards-container-item-3-box > p {
              font-size: 1.5rem; } }
          @media only screen and (max-width: 64em) {
            .references__cards-container-item-3-box > p {
              font-size: 1.3rem; } }
    .references__cards-container-item-4 {
      grid-area: cards-item-4; }
      .references__cards-container-item-4-box {
        width: 100%;
        height: 100%; }
        .references__cards-container-item-4-box > img {
          height: auto;
          width: 100%; }
          @media only screen and (max-width: 160em) {
            .references__cards-container-item-4-box > img {
              height: 30rem; } }
          @media only screen and (max-width: 90em) {
            .references__cards-container-item-4-box > img {
              height: 20rem; } }
        .references__cards-container-item-4-box > p {
          padding-top: 1rem;
          font-size: 1.3rem;
          color: var(--color-white);
          text-align: left;
          line-height: 1.5; }
          @media only screen and (max-width: 160em) {
            .references__cards-container-item-4-box > p {
              font-size: 2rem; } }
          @media only screen and (max-width: 90em) {
            .references__cards-container-item-4-box > p {
              font-size: 1.5rem; } }
          @media only screen and (max-width: 64em) {
            .references__cards-container-item-4-box > p {
              font-size: 1.3rem; } }
    .references__cards-container-item-5 {
      grid-area: cards-item-5; }
      .references__cards-container-item-5-box {
        width: 100%;
        height: 100%; }
        .references__cards-container-item-5-box > img {
          height: auto;
          width: 100%; }
          @media only screen and (max-width: 160em) {
            .references__cards-container-item-5-box > img {
              height: 30rem; } }
          @media only screen and (max-width: 90em) {
            .references__cards-container-item-5-box > img {
              height: 20rem; } }
        .references__cards-container-item-5-box > p {
          padding-top: 1rem;
          font-size: 1.3rem;
          color: var(--color-white);
          text-align: left;
          line-height: 1.5; }
          @media only screen and (max-width: 160em) {
            .references__cards-container-item-5-box > p {
              font-size: 2rem; } }
          @media only screen and (max-width: 90em) {
            .references__cards-container-item-5-box > p {
              font-size: 1.5rem; } }
          @media only screen and (max-width: 64em) {
            .references__cards-container-item-5-box > p {
              font-size: 1.3rem; } }
    .references__cards-container-item-6 {
      grid-area: cards-item-6; }
      .references__cards-container-item-6-box {
        width: 100%;
        height: 100%; }
        .references__cards-container-item-6-box > img {
          height: auto;
          width: 100%; }
          @media only screen and (max-width: 160em) {
            .references__cards-container-item-6-box > img {
              height: 30rem; } }
          @media only screen and (max-width: 90em) {
            .references__cards-container-item-6-box > img {
              height: 20rem; } }
        .references__cards-container-item-6-box > p {
          padding-top: 1rem;
          font-size: 1.3rem;
          color: var(--color-white);
          text-align: left;
          line-height: 1.5; }
          @media only screen and (max-width: 160em) {
            .references__cards-container-item-6-box > p {
              font-size: 2rem; } }
          @media only screen and (max-width: 90em) {
            .references__cards-container-item-6-box > p {
              font-size: 1.5rem; } }
          @media only screen and (max-width: 64em) {
            .references__cards-container-item-6-box > p {
              font-size: 1.3rem; } }
  .references__cta {
    display: flex;
    justify-content: center; }
    .references__cta a {
      align-items: center;
      margin: 0 auto;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.4rem;
      line-height: 1.5;
      color: var(--color-primary);
      border-bottom: 1px solid #ff5a1d;
      line-height: 2em; }
      @media only screen and (max-width: 160em) {
        .references__cta a {
          font-size: 1.5rem; } }
      @media only screen and (max-width: 90em) {
        .references__cta a {
          font-size: 1rem; } }

.about-us {
  margin-bottom: 45rem;
  height: auto; }
  @media only screen and (max-width: 90em) {
    .about-us {
      margin-bottom: 45rem;
      height: auto;
      width: 100%; } }
  @media only screen and (max-width: 64em) {
    .about-us {
      margin-bottom: 25rem; } }
  @media only screen and (max-width: 48em) {
    .about-us {
      margin-bottom: 10rem; } }
  @media only screen and (max-width: 26.6em) {
    .about-us {
      margin-bottom: 0; } }
  .about-us__heading-one {
    font-size: 5rem;
    position: relative;
    font-family: "Muli";
    font-weight: bold;
    line-height: 0.481;
    color: var(--color-primary);
    margin-left: 7rem;
    margin-bottom: 15rem;
    width: auto; }
    @media only screen and (max-width: 160em) {
      .about-us__heading-one {
        font-size: 3rem; } }
    @media only screen and (max-width: 90em) {
      .about-us__heading-one {
        font-size: 2rem;
        margin-bottom: 10rem; } }
    @media only screen and (max-width: 64em) {
      .about-us__heading-one {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 26.6em) {
      .about-us__heading-one {
        margin-bottom: 3rem; } }
    .about-us__heading-one::before {
      content: "";
      position: absolute;
      width: 5rem;
      height: 0.5rem;
      background: var(--color-primary);
      top: 50%;
      left: -6.5rem; }
  .about-us-main {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%; }
    @media only screen and (max-width: 26.6em) {
      .about-us-main {
        flex-direction: column;
        height: auto; } }
    .about-us-main__desc {
      width: 50%; }
      @media only screen and (max-width: 26.6em) {
        .about-us-main__desc {
          width: 100%; } }
      .about-us-main__desc > p {
        height: auto;
        color: var(--color-white);
        text-align: left;
        font-family: "Muli Light";
        font-size: 2.5rem;
        line-height: 1.343;
        width: 67%; }
        @media only screen and (max-width: 160em) {
          .about-us-main__desc > p {
            width: 45%;
            font-size: 2.5rem; } }
        @media only screen and (max-width: 90em) {
          .about-us-main__desc > p {
            font-size: 1.5rem; } }
        @media only screen and (max-width: 64em) {
          .about-us-main__desc > p {
            font-size: 1.5rem; } }
        @media only screen and (max-width: 26.6em) {
          .about-us-main__desc > p {
            width: 100%;
            margin-bottom: 5rem; } }
    .about-us-main__worker {
      width: 50%; }
      @media only screen and (max-width: 26.6em) {
        .about-us-main__worker {
          width: 100%; } }
      .about-us-main__worker > div {
        width: calc(70rem - (-60rem));
        height: 70rem;
        background: url("../img/img-1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        right: -10rem;
        top: -10rem;
        margin-bottom: 8rem; }
        @media only screen and (max-width: 160em) {
          .about-us-main__worker > div {
            top: -16.5rem;
            right: -71rem; } }
        @media only screen and (max-width: 90em) {
          .about-us-main__worker > div {
            right: -65rem; } }
        @media only screen and (max-width: 64em) {
          .about-us-main__worker > div {
            right: -65rem;
            top: -11rem;
            height: 50rem; } }
        @media only screen and (max-width: 48em) {
          .about-us-main__worker > div {
            right: -80rem;
            height: 40rem; } }
        @media only screen and (max-width: 26.6em) {
          .about-us-main__worker > div {
            height: 30rem;
            width: 100%;
            right: 0;
            top: 0;
            position: static; } }

.our-services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15rem;
  width: 100%; }
  @media only screen and (max-width: 90em) {
    .our-services {
      margin-bottom: 8rem; } }
  @media only screen and (max-width: 26.6em) {
    .our-services {
      flex-direction: column-reverse; } }
  @media only screen and (max-width: 26.6em) {
    .our-services {
      margin-bottom: 5rem; } }
  .our-services__worker {
    width: 70rem;
    height: 80rem;
    background: red; }
    @media only screen and (max-width: 160em) {
      .our-services__worker {
        width: 40rem;
        height: 55rem; } }
    @media only screen and (max-width: 90em) {
      .our-services__worker {
        width: 35rem;
        height: 40rem; } }
    @media only screen and (max-width: 26.6em) {
      .our-services__worker {
        margin: 0 auto; } }
  .our-services-text {
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 160em) {
      .our-services-text {
        width: 50%; } }
    @media only screen and (max-width: 90em) {
      .our-services-text {
        width: 55%; } }
    @media only screen and (max-width: 48em) {
      .our-services-text {
        width: 40%; } }
    @media only screen and (max-width: 26.6em) {
      .our-services-text {
        width: 100%; } }
    .our-services-text__heading-one {
      font-size: 5rem;
      position: relative;
      font-family: "Muli";
      font-weight: bold;
      line-height: 0.481;
      color: var(--color-primary);
      margin-bottom: 8rem;
      margin-left: 7rem; }
      @media only screen and (max-width: 160em) {
        .our-services-text__heading-one {
          font-size: 3rem; } }
      @media only screen and (max-width: 90em) {
        .our-services-text__heading-one {
          font-size: 2rem;
          margin-bottom: 5rem; } }
      @media only screen and (max-width: 64em) {
        .our-services-text__heading-one {
          font-size: 1.8rem;
          margin-left: 6.5rem; } }
      @media only screen and (max-width: 26.6em) {
        .our-services-text__heading-one {
          width: 100%;
          margin-bottom: 5rem; } }
      .our-services-text__heading-one::before {
        content: "";
        position: absolute;
        width: 5rem;
        height: 0.5rem;
        background: var(--color-primary);
        top: 50%;
        left: -6.5rem; }
    .our-services-text__paragraph {
      text-align: left;
      font-family: "Muli";
      color: var(--color-white);
      font-size: 2.5rem;
      margin-bottom: 8rem; }
      @media only screen and (max-width: 160em) {
        .our-services-text__paragraph {
          font-size: 2.5rem; } }
      @media only screen and (max-width: 90em) {
        .our-services-text__paragraph {
          font-size: 1.5rem;
          margin-bottom: 5rem; } }
      @media only screen and (max-width: 64em) {
        .our-services-text__paragraph {
          font-size: 1.5rem;
          width: 50rem;
          margin-bottom: 6rem; } }
      @media only screen and (max-width: 26.6em) {
        .our-services-text__paragraph {
          width: 100%; } }
  .our-services__list {
    list-style-type: none;
    color: var(--color-white); }
    @media only screen and (max-width: 26.6em) {
      .our-services__list {
        margin-bottom: 5rem; } }
    .our-services__list-item {
      padding-top: 1.3rem;
      padding-bottom: 1.3rem;
      border-bottom: 1px solid white;
      cursor: pointer; }
      .our-services__list-item > p {
        display: none; }
        @media only screen and (max-width: 160em) {
          .our-services__list-item > p {
            font-size: 2.5rem; } }
        @media only screen and (max-width: 90em) {
          .our-services__list-item > p {
            font-size: 1.5rem; } }
      .our-services__list-item-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        .our-services__list-item-box > h2 {
          font-weight: normal; }
          @media only screen and (max-width: 160em) {
            .our-services__list-item-box > h2 {
              font-size: 2.5rem; } }
          @media only screen and (max-width: 90em) {
            .our-services__list-item-box > h2 {
              font-size: 1.5rem; } }
      @media only screen and (max-width: 64em) {
        .our-services__list-item {
          font-size: 1.5rem;
          padding-top: 1rem;
          padding-bottom: 1rem; } }

.partners {
  padding-bottom: 10rem; }
  .partners__heading-one {
    font-size: 5rem;
    position: relative;
    font-family: "Muli";
    font-weight: bold;
    line-height: 0.481;
    color: var(--color-primary);
    margin-bottom: 15rem;
    margin-left: 7rem; }
    @media only screen and (max-width: 160em) {
      .partners__heading-one {
        font-size: 3rem;
        margin-bottom: 10rem; } }
    @media only screen and (max-width: 90em) {
      .partners__heading-one {
        font-size: 2rem;
        margin-bottom: 8rem; } }
    @media only screen and (max-width: 64em) {
      .partners__heading-one {
        font-size: 1.8rem;
        margin-left: 6.5rem; } }
    .partners__heading-one::before {
      content: "";
      position: absolute;
      width: 5rem;
      height: 0.5rem;
      background: var(--color-primary);
      top: 50%;
      left: -6.5rem; }
  .partners__slider-item {
    background: var(--color-dark); }
    .partners__slider-item-figure > img {
      width: 100%; }
    .partners__slider-item-figure > figcaption > address {
      color: white;
      padding: 2rem; }

.contact-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15rem; }
  @media only screen and (max-width: 90em) {
    .contact-us {
      margin-bottom: 8rem; } }
  .contact-us__info {
    display: flex;
    flex-direction: column; }
    .contact-us__info > p {
      color: var(--color-white);
      line-height: 1.422;
      font-size: 2.5em;
      margin-bottom: 10rem; }
      @media only screen and (max-width: 160em) {
        .contact-us__info > p {
          margin-bottom: 4rem; } }
      @media only screen and (max-width: 90em) {
        .contact-us__info > p {
          font-size: 1.5rem; } }
    .contact-us__info > address {
      color: var(--color-white);
      font-style: normal;
      font-size: 2.5em; }
      @media only screen and (max-width: 90em) {
        .contact-us__info > address {
          font-size: 1.3rem; } }
    .contact-us__info-heading-one {
      font-size: 5rem;
      position: relative;
      font-family: "Muli";
      font-weight: bold;
      line-height: 0.481;
      color: var(--color-primary);
      margin-bottom: 15rem;
      margin-left: 7rem; }
      @media only screen and (max-width: 160em) {
        .contact-us__info-heading-one {
          font-size: 3rem;
          margin-bottom: 7rem; } }
      @media only screen and (max-width: 90em) {
        .contact-us__info-heading-one {
          font-size: 2rem;
          margin-bottom: 5rem; } }
      @media only screen and (max-width: 64em) {
        .contact-us__info-heading-one {
          font-size: 1.8rem; } }
      .contact-us__info-heading-one::before {
        content: "";
        position: absolute;
        width: 5rem;
        height: 0.5rem;
        background: var(--color-primary);
        top: 50%;
        left: -6.5rem; }
  .contact-us__form {
    height: 100%;
    width: 50%; }
    @media only screen and (max-width: 90em) {
      .contact-us__form {
        width: 60%; } }
    .contact-us__form input {
      width: 100%;
      padding: 3rem;
      margin: 1rem 0;
      color: var(--color-white);
      box-sizing: border-box;
      background-color: var(--color-dark);
      border: none; }
      @media only screen and (max-width: 90em) {
        .contact-us__form input {
          padding: 2rem; } }
      .contact-us__form input::placeholder {
        font-size: 1rem;
        font-family: "Muli ExtraLight";
        line-height: 1.35;
        opacity: 0.5;
        color: var(--color-white); }
        @media only screen and (max-width: 160em) {
          .contact-us__form input::placeholder {
            font-size: 1.5rem; } }
        @media only screen and (max-width: 90em) {
          .contact-us__form input::placeholder {
            font-size: 1.3rem; } }
    .contact-us__form textarea {
      width: 100%;
      padding: 3rem;
      margin: 1rem 0;
      color: var(--color-white);
      resize: vertical;
      box-sizing: border-box;
      background: var(--color-dark);
      border: none; }
      .contact-us__form textarea::placeholder {
        font-size: 2rem;
        font-family: "Muli ExtraLight";
        line-height: 1.35;
        opacity: 0.5;
        text-align: left;
        color: var(--color-white); }
        @media only screen and (max-width: 160em) {
          .contact-us__form textarea::placeholder {
            font-size: 1.5rem; } }
        @media only screen and (max-width: 90em) {
          .contact-us__form textarea::placeholder {
            font-size: 1.3rem; } }
    .contact-us__form input[type="submit"] {
      width: 30%;
      float: right; }
      @media only screen and (max-width: 160em) {
        .contact-us__form input[type="submit"] {
          font-size: 2rem; } }
      @media only screen and (max-width: 90em) {
        .contact-us__form input[type="submit"] {
          font-size: 1.5rem;
          width: 25%; } }

.footer {
  width: 100%;
  height: 7rem;
  background: var(--color-dark);
  color: var(--color-white); }
  .footer__copyright {
    float: left;
    padding-top: 2rem;
    font-size: 2rem;
    font-family: "Muli Light"; }
    @media only screen and (max-width: 90em) {
      .footer__copyright {
        font-size: 1rem; } }
  .footer__social-icons {
    font-size: 2.5rem;
    float: right;
    padding-top: 2rem; }
    @media only screen and (max-width: 90em) {
      .footer__social-icons {
        font-size: 1.5rem; } }
    .footer__social-icons-list-items {
      list-style-type: none;
      display: flex;
      flex-direction: row; }
      .footer__social-icons-list-items-item {
        margin-left: 2rem; }
        .footer__social-icons-list-items-item > a {
          text-decoration: none;
          color: var(--color-white);
          cursor: pointer; }
