/*
BRAKE POINTS
*/


/*
COLORS
*/

:root {
    --primary-bg-color: #131313;
    --color-dark: #222224;
    --color-white: #dbdbdb;
    --color-primary: #ff5a1d;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Muli Light", sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    background-color: var(--primary-bg-color);
    width: 100%;
    height: auto;
}

.overflow-fixer {
    width: 100%;
    overflow: hidden;
}

.hamburger {
    background: none;
    position: absolute;
    top: 35px;
    right: -5px;
    line-height: 45px;
    padding: 5px 15px 0px 15px;
    color: white;
    border: 0;
    font-size: 2.5em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 99;
    display: none;
}

@media only screen and (max-width: 26.6em) {
    .hamburger {
        right: 5px;
        display: block;
    }
}

@media only screen and (max-width: 20em) {
    .hamburger {
        right: 1px;
        display: block;
    }
}

@media only screen and (max-width: 24.4em) {
    .hamburger {
        right: 1px;
        display: block;
    }
}

.cross {
    background: none;
    position: absolute;
    display: none;
    top: 35px;
    right: -5px;
    line-height: 45px;
    padding: 5px 15px 0px 15px;
    color: white;
    border: 0;
    font-size: 2.5em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 99;
}

@media only screen and (max-width: 26.6em) {
    .cross {
        right: 5px;
    }
}

@media only screen and (max-width: 20em) {
    .cross {
        right: 1px;
    }
}

.toggle-menu {
    display: none;
    z-index: 1000000;
    font-weight: bold;
    font-size: 0.8em;
    max-width: 768px;
    background: #f1f1f1;
    position: absolute;
    text-align: center;
    font-size: 12px;
    left: 0;
    right: 0;
    top: 85px;
}

.toggle-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.toggle-menu li {
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: #dddddd 1px solid;
    font-family: "Muli", sans-serif;
}

.toggle-menu li:hover {
    display: block;
    background: #ffffff;
    padding: 15px 0 15px 0;
    border-bottom: #dddddd 1px solid;
}

.toggle-menu ul li a {
    text-decoration: none;
    margin: 0px;
    color: #ff5a1d;
}

.toggle-menu ul li a:hover {
    color: #ff5a1d;
    text-decoration: none;
}

.toggle-menu a {
    text-decoration: none;
    color: #ff5a1d;
}

.toggle-menu a:hover {
    text-decoration: none;
    color: #ff5a1d;
}

.container {
    max-width: 114rem;
    height: auto;
    margin: 0 auto;
    width: 100vw;
}

@media only screen and (max-width: 160em) {
    .container {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 90em) {
    .container {
        max-width: 90rem;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 48em) {
    .container {
        max-width: 70rem;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 26.6em) {
    .container {
        max-width: 38rem;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 24.4em) {
    .container {
        max-width: 35rem;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 20em) {
    .container {
        max-width: 30rem;
        margin: 0 auto;
    }
}

.header {
    width: 100%;
    height: auto;
    padding-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 15rem;
}

@media only screen and (max-width: 90em) {
    .header {
        margin-bottom: 10rem;
    }
}

.header__logo > img {
    width: 22.7rem;
    height: 2.46875rem;
}

@media only screen and (max-width: 160em) {
    .header__logo > img {
        width: 34rem;
        height: 3.75rem;
    }
}

@media only screen and (max-width: 90em) {
    .header__logo > img {
        width: 20.6em;
        height: 2.25rem;
    }
}

.header__navigation-items {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    line-height: 1.5;
    font-size: 1.8rem;
    color: var(--color-white);
}

.header__navigation-items-item--active {
    color: var(--color-primary);
    border-bottom: 1px solid #ff5a1d;
}

@media only screen and (max-width: 160em) {
    .header__navigation-items {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 90em) {
    .header__navigation-items {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 64em) {
    .header__navigation-items {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 26.6em) {
    .header__navigation-items {
        display: none;
    }
}

@media only screen and (max-width: 24.4em) {
    .header__navigation-items {
        display: none;
    }
}

@media only screen and (max-width: 20em) {
    .header__navigation-items {
        display: none;
    }
}

.header__navigation-items > li {
    margin-left: 3rem;
    text-transform: uppercase;
}

.header__navigation-items > li a {
    text-decoration: none;
    color: inherit;
}

.references {
    width: 100%;
    height: auto;
    margin-bottom: 10rem;
}

@media only screen and (max-width: 90em) {
    .references {
        margin-bottom: 10rem;
    }
}

@media only screen and (max-width: 64em) {
    .references {
        height: 70rem;
        margin-bottom: 5rem;
    }
}

@media only screen and (max-width: 48em) {
    .references {
        height: auto;
    }
}

.references__heading-one {
    font-size: 30px;
    position: relative;
    font-family: "Muli";
    font-weight: bold;
    line-height: 0.481;
    color: var(--color-primary);
    margin-left: 7rem;
    margin-bottom: 8rem;
    height: auto;
}

@media only screen and (max-width: 160em) {
    .references__heading-one {
        font-size: 30px;
    }
}

@media only screen and (max-width: 90em) {
    .references__heading-one {
        font-size: 20px;
    }
}

@media only screen and (max-width: 64em) {
    .references__heading-one {
        font-size: 18px;
    }
}

@media only screen and (max-width: 26.6em) {
    .references__heading-one {
        margin-bottom: 5rem;
    }
}

.references__heading-one::before {
    content: "";
    position: absolute;
    width: 5rem;
    height: 0.5rem;
    background: var(--color-primary);
    top: 50%;
    left: -6.5rem;
}

@media only screen and (max-width: 90em) {
    .references__heading-one::before {
        width: 3rem;
    }
}

.references__gallery {
    width: 100%;
    margin-bottom: 8rem;
}

@media only screen and (max-width: 26.6em) {
    .references__gallery {
        margin-bottom: 4rem;
    }
}

.references__gallery-hidden {
    display: none;
}

.references__gallery > a {
    cursor: pointer;
    width: 32%;
    height: auto;
    display: inline-block;
    overflow: hidden;
    margin: 6px 6.7px;
    text-decoration: none;
}

@media only screen and (max-width: 90em) {
    .references__gallery > a {
        margin: 6px 5px;
    }
}

@media only screen and (max-width: 48em) {
    .references__gallery > a {
        margin: 6px 3px;
    }
}

@media only screen and (max-width: 26.6em) {
    .references__gallery > a {
        width: 99%;
        margin: 6px 1px;
    }
}

@media only screen and (max-width: 20em) {
    .references__gallery > a {
        width: 99%;
        margin: 6px 1px;
    }
}

.references__gallery > a > img {
    height: 100%;
    width: 100%;
}

.references__gallery > a > p {
    padding-top: 0.5rem;
    font-size: 1rem;
    color: var(--color-white);
    text-align: left;
    line-height: 1.5;
}

@media only screen and (max-width: 160em) {
    .references__gallery > a > p {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 90em) {
    .references__gallery > a > p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 64em) {
    .references__gallery > a > p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 48em) {
    .references__gallery > a > p {
        padding-top: 0.1rem;
        font-size: 0.9rem;
    }
}

.references__cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.references__cta a {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.5;
    color: var(--color-primary);
    border-bottom: 1px solid #ff5a1d;
    line-height: 2em;
}

@media only screen and (max-width: 160em) {
    .references__cta a {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 90em) {
    .references__cta a {
        font-size: 1rem;
    }
}

.contact-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 15rem;
}

@media only screen and (max-width: 90em) {
    .contact-us {
        margin-bottom: 8rem;
    }
}

@media only screen and (max-width: 26.6em) {
    .contact-us {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

.contact-us__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.contact-us__info > p {
    color: var(--color-white);
    line-height: 1.422;
    font-size: 2.5em;
    margin-bottom: 10rem;
}

@media only screen and (max-width: 160em) {
    .contact-us__info > p {
        margin-bottom: 4rem;
    }
}

@media only screen and (max-width: 90em) {
    .contact-us__info > p {
        font-size: 1.5rem;
    }
}

.contact-us__info > address {
    color: var(--color-white);
    font-style: normal;
    font-size: 2.5em;
}

@media only screen and (max-width: 90em) {
    .contact-us__info > address {
        font-size: 1.3rem;
    }
}

.contact-us__info-heading-one {
    font-size: 50px;
    position: relative;
    font-family: "Muli";
    font-weight: bold;
    line-height: 0.481;
    color: var(--color-primary);
    margin-bottom: 15rem;
    margin-left: 7rem;
}

@media only screen and (max-width: 160em) {
    .contact-us__info-heading-one {
        font-size: 30px;
        margin-bottom: 7rem;
    }
}

@media only screen and (max-width: 90em) {
    .contact-us__info-heading-one {
        font-size: 20px;
        margin-bottom: 5rem;
    }
}

@media only screen and (max-width: 64em) {
    .contact-us__info-heading-one {
        font-size: 18px;
    }
}

.contact-us__info-heading-one::before {
    content: "";
    position: absolute;
    width: 5rem;
    height: 0.5rem;
    background: var(--color-primary);
    top: 50%;
    left: -6.5rem;
}

.contact-us__form {
    height: 100%;
    width: 50%;
}

@media only screen and (max-width: 90em) {
    .contact-us__form {
        width: 60%;
    }
}

@media only screen and (max-width: 26.6em) {
    .contact-us__form {
        width: 100%;
    }
}

.contact-us__form input {
    width: 100%;
    padding: 3rem;
    margin: 1rem 0;
    color: var(--color-white);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 1rem;
    background-color: var(--color-dark);
    border: none;
}

@media only screen and (max-width: 90em) {
    .contact-us__form input {
        padding: 2rem;
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 160em) {
    .contact-us__form input {
        font-size: 1.5rem;
    }
}

.contact-us__form input::-webkit-input-placeholder {
    font-size: 1rem;
    font-family: "Muli ExtraLight";
    line-height: 1.35;
    opacity: 0.5;
    color: var(--color-white);
}

.contact-us__form input:-ms-input-placeholder {
    font-size: 1rem;
    font-family: "Muli ExtraLight";
    line-height: 1.35;
    opacity: 0.5;
    color: var(--color-white);
}

.contact-us__form input::-ms-input-placeholder {
    font-size: 1rem;
    font-family: "Muli ExtraLight";
    line-height: 1.35;
    opacity: 0.5;
    color: var(--color-white);
}

.contact-us__form input::placeholder {
    font-size: 1rem;
    font-family: "Muli ExtraLight";
    line-height: 1.35;
    opacity: 0.5;
    color: var(--color-white);
}

@media only screen and (max-width: 160em) {
    .contact-us__form input::-webkit-input-placeholder {
        font-size: 1.5rem;
    }
    .contact-us__form input:-ms-input-placeholder {
        font-size: 1.5rem;
    }
    .contact-us__form input::-ms-input-placeholder {
        font-size: 1.5rem;
    }
    .contact-us__form input::placeholder {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 90em) {
    .contact-us__form input::-webkit-input-placeholder {
        font-size: 1.3rem;
    }
    .contact-us__form input:-ms-input-placeholder {
        font-size: 1.3rem;
    }
    .contact-us__form input::-ms-input-placeholder {
        font-size: 1.3rem;
    }
    .contact-us__form input::placeholder {
        font-size: 1.3rem;
    }
}

.contact-us__form textarea {
    width: 100%;
    padding: 3rem;
    margin: 1rem 0;
    color: var(--color-white);
    resize: vertical;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: var(--color-dark);
    border: none;
    font-size: 1rem;
}

@media only screen and (max-width: 160em) {
    .contact-us__form textarea {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 90em) {
    .contact-us__form textarea {
        font-size: 1.3rem;
    }
}

.contact-us__form textarea::-webkit-input-placeholder {
    font-size: 1rem;
    font-family: "Muli ExtraLight";
    line-height: 1.35;
    opacity: 0.5;
    text-align: left;
    color: var(--color-white);
}

.contact-us__form textarea:-ms-input-placeholder {
    font-size: 1rem;
    font-family: "Muli ExtraLight";
    line-height: 1.35;
    opacity: 0.5;
    text-align: left;
    color: var(--color-white);
}

.contact-us__form textarea::-ms-input-placeholder {
    font-size: 1rem;
    font-family: "Muli ExtraLight";
    line-height: 1.35;
    opacity: 0.5;
    text-align: left;
    color: var(--color-white);
}

.contact-us__form textarea::placeholder {
    font-size: 1rem;
    font-family: "Muli ExtraLight";
    line-height: 1.35;
    opacity: 0.5;
    text-align: left;
    color: var(--color-white);
}

@media only screen and (max-width: 160em) {
    .contact-us__form textarea::-webkit-input-placeholder {
        font-size: 1.5rem;
    }
    .contact-us__form textarea:-ms-input-placeholder {
        font-size: 1.5rem;
    }
    .contact-us__form textarea::-ms-input-placeholder {
        font-size: 1.5rem;
    }
    .contact-us__form textarea::placeholder {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 90em) {
    .contact-us__form textarea::-webkit-input-placeholder {
        font-size: 1.3rem;
    }
    .contact-us__form textarea:-ms-input-placeholder {
        font-size: 1.3rem;
    }
    .contact-us__form textarea::-ms-input-placeholder {
        font-size: 1.3rem;
    }
    .contact-us__form textarea::placeholder {
        font-size: 1.3rem;
    }
}

.contact-us__form input[type="submit"] {
    width: 30%;
    float: right;
}

@media only screen and (max-width: 160em) {
    .contact-us__form input[type="submit"] {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 90em) {
    .contact-us__form input[type="submit"] {
        font-size: 1.5rem;
        width: 25%;
    }
}

@media only screen and (max-width: 20em) {
    .contact-us__form input[type="submit"] {
        width: 100%;
    }
}

.footer {
    width: 100%;
    height: 7rem;
    background: var(--color-dark);
    color: var(--color-white);
}

@media only screen and (max-width: 26.6em) {
    .footer {
        height: 10rem;
    }
}

.footer__copyright {
    float: left;
    padding-top: 2rem;
    font-size: 2rem;
    font-family: "Muli Light";
}

@media only screen and (max-width: 90em) {
    .footer__copyright {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 26.6em) {
    .footer__copyright {
        display: block;
        width: 100%;
        text-align: center;
    }
}

.footer__social-icons {
    font-size: 2.5rem;
    float: right;
    padding-top: 2rem;
}

@media only screen and (max-width: 90em) {
    .footer__social-icons {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 26.6em) {
    .footer__social-icons {
        display: block;
        width: 100%;
    }
}

.footer__social-icons-list-items {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

@media only screen and (max-width: 26.6em) {
    .footer__social-icons-list-items {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

.footer__social-icons-list-items-item {
    margin-left: 2rem;
}

@media only screen and (max-width: 20em) {
    .footer__social-icons-list-items-item {
        margin-left: 1rem;
    }
}

.footer__social-icons-list-items-item > a {
    text-decoration: none;
    color: var(--color-white);
    cursor: pointer;
}